In [ ]:
import pandas as pd

import gender_loader as gl

In [9]:
df = gl.load_genders()

display(df)

                     IME SPOL
0          Jakov Jakelić    M
1        Petar Kamenečki    M
2          Leda Kefeček     Ž
3             Mate Radoš    M
4           Iris Pašalić    Ž
..                   ...  ...
153        Lobel Marunić    M
154           Rita Bakić    Ž
155  Leona Ptiček Ozimin    Ž
156           Pavla Žaja    Ž
157      Nika Milinković    Ž

[158 rows x 2 columns]